---
title: Ban Property Prefix
author:
  - Julio Garcia
date: 2026-09-28
---

<!--
Licensed to the Apache Software Foundation (ASF) under one
or more contributor license agreements.  See the NOTICE file
distributed with this work for additional information
regarding copyright ownership.  The ASF licenses this file
to you under the Apache License, Version 2.0 (the
"License"); you may not use this file except in compliance
with the License.  You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing,
software distributed under the License is distributed on an
"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
KIND, either express or implied.  See the License for the
specific language governing permissions and limitations
under the License.
-->

# Ban Property Prefix

This rule can enforce that no Maven property starts with any of the configured banned prefixes. It is the
counterpart of `requireProperty` and is useful to forbid properties that are reserved for other tooling or are no
longer supported.

The following parameters are supported by this rule:

- **prefixes** - the list of banned property name prefixes. Each entry may also contain several prefixes separated by
  commas.
- **message** - an optional message to the user if the rule fails. Default is: "Banned properties found (prefixes:
  ...): ...".

The rule checks all properties of the current project and fails if any property name starts with one of the
configured prefixes, listing every offending property.

Sample Plugin Configuration:

```xml
<project>
  [...]
  <build>
    <plugins>
      <plugin>
        <groupId>org.apache.maven.plugins</groupId>
        <artifactId>maven-enforcer-plugin</artifactId>
        <version>${project.version}</version>
        <executions>
          <execution>
            <id>ban-property-prefix</id>
            <goals>
              <goal>enforce</goal>
            </goals>
            <configuration>
              <rules>
                <banPropertyPrefix>
                  <prefixes>
                    <prefix>secured.system</prefix>
                    <prefix>internal.build</prefix>
                  </prefixes>
                </banPropertyPrefix>
              </rules>
            </configuration>
          </execution>
        </executions>
      </plugin>
    </plugins>
  </build>
  [...]
</project>
```
